<h2>Create a Host</h2>
<form action="/hosts" method="POST">
  <p>New Host name: <input type="text" name="content"></p>
  <p>Choose Hat Color: <input type"text" name="hat_color"></p>
  <input class="btn btn-primary" type="submit" value="Create Host">
</form>
