<h2> Edit Host </h2>
<nav>
  <a href="/logout"> Log Out </a>
</nav>

<form method="post" action="/hosts/<%=@host.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="content" value="<%= @host.content %>">
  <input type="submit" value="submit">
</form>
