<h2> Edit Host </h2>


<form method="post" action="/hosts/<%=@host.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Name: <input type="text" name="content" value="<%= @host.content %>"></p>
  <p>Hat Color: <input type="text" name="hat_color" value="<%= @host.hat_color %>"></p>
  <input class="btn btn-primary" type="submit" value="Update Host"> or <a href="/logout"> Log Out </a>
</form>
