<p><%= @host.content %> <%= @host.hat_color %>
  <% if @host.user.id == current_user.id %>
    <form method="post" action="/hosts/<%=@host.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input class="btn btn-primary" type="submit" value="Delete Host">
    </form>

    <a href="/hosts/<%=@host.id%>/edit"> Edit Host </a>
  <%end%>

<nav>
  <a href="/logout"> Log Out </a>
  or
  <a href="/hosts"> View Hosts </a>


</nav>
