<p><%= @host.content %>

<form method="post" action="/hostss/<%=@host.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Host">
</form>

<a href="/hosts/<%=@host.id%>/edit">Edit Host </a>
