<div class="container">
  <header><img src="images/fidelity1.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Westworld Host Creator: A Westworld Story</h2>

    <div class="content">
      <p>Please Sign Up or log in below:</p>

      <nav>
        <% if logged_in? %>

          <a href="/hosts/new"> Create New Host </a>
          <a href="/logout"> Log Out </a>
          <p>Hello, <%=current_user.username %></p>

        <% else %>
          <a href="/signup">Sign Up</a>
          or
          <a href="/login"> Log In </a>
        <%end %>

      </nav>
    </div>
    <!-- <div class="container">
      <header><img src="images/fidelity1.png" class="img-responsive main-image"></header>
      <div class="col-md-8 col-md-offset-2">
        <h2>Welcome to Fidelity, a Westworld Host Creator.</h2>

        <div class="content">
          <p>
            This is the place to find product reviews that are based on subjective opinions and real-life experiences with software products.
          </p>

          <p>
            Create a new Account
            <br></br>
            <a href="/signup">Sign Up</a>
            <br></br>
            OR
            <br></br>
            Already have an Account
            <br></br>
            <a href="/login">Log In</a>
            <br></br>
          </p>

        </div> -->
