<!doctype html>
<html>
  <head>
    <title>Host Creator</title>
    <!-- Styles -->


    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
        body {
        padding-top: 60px; /*when using navbar-top-fixed */
        }
      </style>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Host Creator</h1>
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"></script>')></script>
  </body>
</html>
