<!doctype html>
<html>
  <head>
    <title>Host Creator</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Host Creator</h1>
      <%= yield %>


    </div>

    </body>
</html>
