<p> Here are your Hosts, <%= @user.username %>
<% @user.hosts.each do |host| %>
  <div>
    <%= host.content %>
  </div>
<% end %>
<div class="content">
      <p>Please log in or sign up below:</p>

      <nav>
        <% if logged_in? %>

          <a href="/hosts/new"> Create New Host </a>
          <a href="/logout"> Log Out </a>
          <p>Hello, <%=current_user.username %></p>

        <% else %>
          <a href="/signup">Sign Up</a>
          <a href="/login"> Log In </a>
        <%end %>

      </nav>
    </div>
